<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fighter Information</title>
</head>
<body>
<h1>All Fighters:</h1>
<div th:if="${#lists.isEmpty(fighters)}">No fighters found.</div>
<table th:if="${not #lists.isEmpty(fighters)}">
    <thead>
    <tr>
        <th>Name</th>
        <th>Created At</th>
        <th>Damage per Hit</th>
        <th>Health</th>
        <th>Resistance</th>
        <th>Anime From</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fighter : ${fighters}">
        <td th:text="${fighter.name}"></td>
        <td th:text="${fighter.createdAt}"></td>
        <td th:text="${fighter.damagePerHit}"></td>
        <td th:text="${fighter.health}"></td>
        <td th:text="${fighter.resistance}"></td>
        <td th:text="${fighter.animeFrom}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
